<html>
	<body>
	    <form action="post_coder" method="post">
		    Experience (in years): <input type="number" name="experience" value='<%= (data.experience==undefined ? "" : data.experience) %>'><br>
		    <input type="hidden" name="page" value="2">
		    <br><input name="submit" type="submit" value="back" />  <input name="submit" type="submit" value="next" />
		</form>
	</body>
</html>